<% include ./partials/header.ejs %>



<form action="/blogs/comment" method="POST" style="margin-top: 20%">
    <input type="text" name="author" placeholder="email@gmail.com"><br>
    <input type="text" placeholder="content" name="about">
    <button type="submit">Post</button>
    </form>




<% include ./partials/footer.ejs %>